/* html, body {
    margin: 0;
    padding: 0;
} */

header #logopageacceuil
{
    width: 50%;
    height: 50%;
    position: relative;
    display: block;
    margin: auto;
    padding: 50px;
    /* ajout lien clickable page acceuil*/
}
header {
    text-align: center;
    margin-top: 5%;
}
header ul{
    padding: 0px;
    display: inline-block;
    margin-top: 0px;
}
header li{
    list-style-type: none;
    float: left;
}
header li a
{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
header li:nth-child(2)
{
    margin-left: 50px;
    margin-right: 50px;
}
#hero
{
    background-image: url("../images/parcours2.jpg");
    display: block;
    margin: auto;
    height: 400px;
    background-position: center;
    background-size: cover ; 
    text-align: center;
}
#hero h1
{
    color:white;
    font-weight: 900;
    margin: 0;
    font-family: 'arial', sans-serif ;
    font-size: 60px;
    text-align: center; 
    line-height: 400px;
}
main
{
    display:flex;
    flex-direction: row;
    margin:auto;
    width: 990px;
}
main div
{
    width: 480px;
    display: inline-block;
}

/*Gestion 1er bloc gauche*/
main div:first-child
{
    margin-right: 30px;
}

.h3 > h3
{
   /* font-family: 'Playfair Display', serif ;
    font-size : 30px;
    height: 30px;
    margin-top: 50px ;
    margin-bottom: 30px;
    font-weight:normal; */
    padding-top: 3%;
    padding-left: 2%;
}
main>div p
{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin:0px;
}
main>div>p:nth-child(2)
{
    display: inline-block;
    margin-bottom: 22px;
}

/*Gestion 2eme bloc droite*/
main div h5
{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif ;
    font-size: 18px;
}
main div h5{text-align: right;}
main div h5 a
{
    color: black;
    font-weight:normal;
}
main div img
{
    width:225px;
    height: 149px;
    float: left;
}
main div img:nth-child(odd)
{
    margin-bottom: 30px;
    margin-left: 30px;
}


/* Le Contact me*/
#submain 
{
    margin: auto;
    text-align: center;
    margin-top:50px;
    margin-bottom: 80px;
}
#submain a
{
    background-color: black;
    padding: 20px;
    font-family: 'Playfair Display', serif ;
    text-decoration: none;
    color: white;
}
 
/* gallery container_flip card */
.container-gallery
{
  float: left; 
  width: 80%;
  position: relative; 
  margin: 50px 0px 0px 50%; 
  transform: translateX(-50%); 
}

.flip-card {
  float:left;
  background-color: transparent;
  width: 450px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  margin-right: 50px;
  margin-top: 10px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #404040;
  color: white;
  transform: rotateY(180deg);
} 

@media screen and (min-width: 1830px){.flip-card:nth-child(3n+1){margin-right: 0px;}}
@media screen and (max-width: 1270px){ .flip-card {width: 45%; margin-right: 5%;} }
@media screen and (max-width: 650px){ .flip-card {width: 100%;} }

/* vidéo campus academy */
.video_C_A > iframe {
    display: block;
    margin: auto;
    margin-top: 3%;
    width: 50%;
}

.clear {
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
     font-size: 20px; 
  }
  
#myBtn {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #555;
  }

.logo {
    text-align: center;
}

.logo>a {
    margin-right: 3%;
    padding-bottom: 3%;
}

.logobrian {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Bas de page*/
footer
{
    background-color: black;
    height: 50%;
    margin-top: 5%;
    width: 100%;
}
footer ul
{
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 70px;
    padding: 0px;
    display: inline-block;
}
footer li
{
    list-style-type: none;
    float: left;
}
footer li a
{
    color:white;
    text-decoration: none;
    font-family: 'Playfair Display', serif ;
    font-size: 16px;
}
footer li:nth-child(2)
{
    margin-left: 50px;
    margin-right: 50px;
}

footer img
{
    float: right;
    margin-right: 25px;
    margin-top: 50px;
}

.coord {
    float: right;
    padding-top: 2.5%;
    color: white; 
    font-size: 16px;
    padding-right: 10%;
}
